<div class="container">

<div class="row mb-5">
    <div class="col-1"></div>
    <h4 class="d-inline" style="background-color: #dcdcdc">　ジャンル編集　</h4>
  </div>

<div class="row mb-5">
<%= form_with model: [:admin,@genre], local:true do |f| %>
  <span class="mr-5"><strong>ジャンル名</strong></span>
  <span class="mr-5"><%= f.text_field :name %></span>
  <%= f.submit '変更を保存', class: 'btn btn-success' %>
<% end %>
</div>
</div>